.dropdownContainer {
  display: flex;
  flex-direction: row;
  margin: 30px 100px 130px;
  width: 260px;
  height: 130px;
}

.dropdown {
  position: relative;
  height: 185px;
}

/* .selected {
  font-family: "DM Sans", sans-serif;
} */

.dropdown,
.select-clicked {
  height: 185px;
  cursor: pointer;
}

.select-button > button {
  background-color: #901c1c;
  color: white;
  border: none;
  margin-left: 0;
  width: 100%;
  height: 100%;
  margin-right: 35px;
  cursor: pointer;
}

.label_select {
  font-weight: bold;
  margin-right: 15px;
  height: 25px;
}

.select-button {
  background-color: #901c1c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5em;
  padding: 5px;
  height: 50px;
  width: 150px;
  margin-left: 5px;
}

.select-clicked {
  border-radius: 0.5em;
  padding: 5px;
  height: 50px;
  width: 150px;
}

.arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  background-color: #901c1c;
  color: white;
  padding: 5px 5px;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  width: 130px;
  left: 6%;
  margin: 0;
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: -1;
}
.menu-open {
  display: block;
  opacity: 1;
  width: 150px;
  height: 130px;
  top: 50px;
  left: 5px;
}

.menu-open li {
  border-top: 1px solid #fff;
  margin: 8px 0px 10px 10px;
  padding: 5px 0px 5px 0px;
  width: 85%;
}

.dropdown_list {
  text-decoration: none;
}
