.lightbox {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 80%;
  height: 95vh;
  z-index: 3;
  height: 80%;
  border-radius: 5px;
  box-shadow: 0px 2px 8px var(--dialog-shadow-color);
  overflow: hidden;
  /* padding-top: 75px; */
  width: 100%;
  overflow: auto;
}

.lightbox > .contentLightbox {
  background-color: #fefefe;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;

  gap: 0px;
}
@media screen and (max-width: 768px) {
  .lightbox {
    height: 80%;
    width: 80%;
  }

  .lightboxMedia > img {
    width: 70%;
    height: 80%;
  }
}

.contentLightbox > button {
  cursor: pointer;
}

.closeLightbox {
  position: absolute;
  top: 25px;
  right: 25px;
}

.previousLightbox {
  position: absolute;
  top: 50%;
  left: 25px;
  height: 35px;
}

.nextLightbox {
  position: absolute;
  top: 50%;
  right: 25px;
  height: 35px;
}

.closeLightbox,
.previousLightbox,
.nextLightbox {
  border: none;
  background-color: inherit;
  font-size: 30px;
}

.lightboxMedia {
  /*  */
  display: none;
  display: block;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;

  /* flex-direction: row;
  justify-content: center;
  align-items: center; */
  gap: 5px;
  width: 80%;
  padding: auto;
  margin: auto;
}

.lightboxMediaContent {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.lightboxMedia > video {
  display: flex;
  justify-content: center;
  align-items: baseline;
  max-width: 100px;
  max-height: 600px;
}

.lightboxMedia > img {
  max-height: 1000px;
  max-width: 1100px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* display: flex;
  justify-content: center;
  align-items: baseline; */
  /* align-items: center; */
  /* justify-content: center; */
}

.lightboxTitle {
  position: absolute;
  bottom: 25px;
  left: 81px;
  color: #901c1c;
}
