@import url("Lightbox.css");

#contact_modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 25px 30px;
}

main {
  border: 5px solid #95fff9;
  margin: 10px;
}

.dropdownContainer {
  display: flex;
  flex-direction: row;
  margin: 30px 100px 115px;
}

.label_select {
  font-weight: bold;
  margin-right: 20px;
}

.dropdown {
  position: relative;
  height: 50px;
  width: 150px;
}

.select {
  background-color: #901c1c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5em;
  padding: 5px;
  height: 50px;
  width: 150px;
  cursor: pointer;
  margin-left: 5px;
}
.select-clicked {
  border-radius: 0.5em;
  padding: 5px;
  height: 50px;
  width: 150px;
  cursor: pointer;
}

.menu li:hover {
  background-color: #db8876;
  color: black;
}
.arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  background-color: #901c1c;
  color: white;
  padding: 5px 5px;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  width: 130px;
  left: 6%;
  margin: 0;
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: -1;
  cursor: pointer;
}

.menu li {
  cursor: pointer;
}

.menu-open li {
  border-top: 1px solid #fff;
  margin: 10px 0px 10px 0px;
  padding: 5px 5px 5px 0px;
  cursor: pointer;
}

.dropdown_list {
  padding: 5px 5px 5px 0px;
}

.menu-open {
  display: block;
  opacity: 1;
  width: 150px;
  height: 85px;
  top: 50px;
  left: 5px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.headContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  height: 100%;
  margin: 0 25px;
}

.firstLastName {
  color: #d3573c;
  font-size: 40px;
  margin: 5px;
}

.location {
  color: #901c1c;
  font-size: 25px;
  margin: 5px;
}

.taglinePhotograph {
  color: #525252;
  font-size: 20px;
  margin: 5px;
}

.headPicture {
  height: 100%;
  display: flex;
  align-items: center;
}

.headPicture img {
  height: 210px;
  width: 210px;
  border-radius: 50%;
  object-fit: inherit;
}

.button_hover:hover {
  background-color: #d3573c;
  color: black;
  border: none;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_price {
  position: fixed;
  bottom: 0px;
  right: 50px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding: 11px;
  width: 350px;
  height: 35px;
  border: none;
  background-color: #db8876;
  border-radius: 5px;
  cursor: pointer;
}
dialog {
  border-radius: 5px;
  background-color: #db8876;
  width: 40%;
  border: none;
}

.modal_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-items: baseline;
  width: 100%;
}

.header_color {
  color: black;
  font-size: 25px;
}

button > img {
  cursor: pointer;
  background-color: #db8876;
  color: #db8876;
}
.close_btn {
  background-color: #db8876;
  border: none;
  padding: 0;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 24px;
}

.message_input {
  width: 97%;
  height: 120px;
  border: none;
  border-radius: 5px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}

form input {
  width: 97%;
  height: 35px;
  border: none;
  border-radius: 5px;
}

.media_section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px 100px;
}

article .divContainer {
  height: 350px;
  width: 350px;
  margin-bottom: 30px;
}

.divContainer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.divContent a img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

video {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.divBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 0px;
}
.divTitle {
  color: #901c1c;
}
.divLikes {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: #901c1c;
  gap: 6px;
}

.fa-solid,
.fa-heart {
  color: #901c1c;
  height: 10px;
}
