@import url("Lightbox.css");
@import url("dropdown.css");
@import url("totalLikes.css");
@import url("contactModal.css");

/* header */

.header-media {
  text-align: center;
}

.logo-photo {
  height: 50px;
}

/* main */

#main,
.header-media {
  margin: 2em 2em;
}

.photograph-header {
  background-color: #fafafa;
}

/* Photographer content */

.headContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.headBio,
.headBtn,
.headPicture {
  margin: 20px 0px;
  text-align: center;
  width: 100%;
}

.headPicture img {
  height: 210px;
  width: 210px;
  border-radius: 50%;
  object-fit: inherit;
}

.firstLastName {
  color: #d3573c;
  font-size: 2.5rem;
  margin: 0.3em;
}

.location {
  color: #901c1c;
  font-size: 25px;
  margin: 5px;
}

.taglinePhotograph {
  color: #525252;
  font-size: 20px;
  margin: 5px;
}

.main-container,
.media_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.button_hover:hover {
  background-color: #d3573c;
  color: black;
  border: none;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/* main content */

.divContainer {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 350px;
  margin: 30px 10px;
}

.divContent a img {
  cursor: pointer;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.divContent a video {
  cursor: pointer;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.divBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.divTitle {
  color: #901c1c;
}

.buttonLikes {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: none;
  gap: 6px;
}

.buttonLikes > i {
  cursor: pointer;
  color: #901c1c;
  height: 10px;
}

@media screen and (min-width: 768px) {
  /* Main container  */

  .media_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .divContainer {
    width: 350px;
  }
}

@media (min-width: 1024px) {
  /* header */

  .header-media {
    text-align: start;
  }

  /* photographer header */

  .headContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .main-container {
    justify-content: space-between;
  }

  .media_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  /* header */

  .media_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
