@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  border: 5px solid #95fff9;
  margin: 10px;
}

main {
  border: 5px solid #95fff9;
  margin: 10px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  margin-top: 15px;
  margin-bottom: 0;
  cursor: pointer;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  cursor: pointer;
  border-radius: 50%;
}

.city-country {
  color: #901c1c;
  font-size: 17px;
  margin: 2px;
}
.tagline {
  font-weight: 500;
  font-size: 14px;
  margin: 2px;
}

.price {
  color: #757575;
  margin: 2px;
  font-size: 12px;
}

a {
  text-decoration: none;
}
