@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin: 10px;
}

main {
  margin: 10px;
}

.header_un {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerName {
  color: #d3573c;
  font-size: 36px;
  margin-bottom: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerName img {
  height: 210px;
  width: 210px;
  cursor: pointer;
  border-radius: 50%;
  object-fit: inherit;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.city-country {
  color: #901c1c;
  font-size: 17px;
  margin: 2px;
}
.tagline {
  font-weight: 500;
  font-size: 14px;
  margin: 2px;
}

.price {
  color: #757575;
  margin: 2px;
  font-size: 12px;
}

a {
  text-decoration: none;
}
