@import url("photographer.css");

*,
html,
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}

header,
main {
  margin: 1.5em;
}

.photographer_section {
  display: flex;
  flex-direction: column;
}

/* Header  */

.header-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
}

.logo {
  height: 50px;
}

.header_un {
  color: #901c1c;
}

/* Main section */

.photographer_section {
  gap: 4.375em;
}

/* Article section */

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerName {
  color: #d3573c;
  font-size: 36px;
  margin-bottom: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerName img {
  height: 210px;
  width: 210px;
  cursor: pointer;
  border-radius: 50%;
  object-fit: inherit;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.city-country {
  color: #901c1c;
  font-size: 17px;
  margin: 2px;
}
.tagline {
  font-weight: 500;
  font-size: 14px;
  margin: 2px;
}

.price {
  color: #757575;
  margin: 2px;
  font-size: 12px;
}

a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .header-home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 4em;
  }
  .photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .header-home {
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 2em 4em;
    height: 90px;
  }
  .photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
  }
}

@media (min-width: 1280px) {
  .header-home {
    justify-content: space-between;
    align-items: center;
    height: 5.625em;
    margin: 2em 4em;
  }
}
