.contact_price_like {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  right: 50px;
  font-weight: bold;
  color: black;
  width: 350px;
  height: 35px;
  border: none;
  background-color: #db8876;
  border-radius: 5px;
  cursor: pointer;
}

.divPrice,
.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.725em;
}

.blackheart {
  color: black;
  font-size: 25px;
}

@media (min-width: 768px) {
  .contact_price_like {
    padding: 1.25em 1.25em;
  }
  .divPrice,
  .likes {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .contact_price_like {
    padding: 1.25em 1.25em;
  }
  .divPrice,
  .likes {
    font-size: 1rem;
  }
}

@media (min-width: 1280px) {
  .contact_price_like {
    padding: 1.25em 1.25em;
  }
  .divPrice,
  .likes {
    font-size: 1rem;
  }
}
