.contact_price_like {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  right: 50px;
  font-weight: bold;
  color: black;
  padding: 11px;
  width: 350px;
  height: 35px;
  border: none;
  background-color: #db8876;
  border-radius: 5px;
  cursor: pointer;
}

.divPrice,
.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.blackheart {
  color: black;
  font-size: 25px;
}
